<h2>Submitted Containers</h2>

<table mat-table [dataSource]="uploads" class="mat-elevation-z8 full-width-table">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let row">{{row.id}}</td>
  </ng-container>
  <!-- ContainerId Column -->
  <ng-container matColumnDef="containerId">
    <th mat-header-cell *matHeaderCellDef>Container ID</th>
    <td mat-cell *matCellDef="let row">{{ row.containerId }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Weight (Tons)</th>
    <td mat-cell *matCellDef="let row">{{ row.weight }}</td>
  </ng-container>

  <!-- Arrival Column -->
  <ng-container matColumnDef="arrival">
    <th mat-header-cell *matHeaderCellDef>Arrival</th>
    <td mat-cell *matCellDef="let row">{{ row.arrival | date:'short' }}</td>
  </ng-container>

  <!-- Departure Column -->
  <ng-container matColumnDef="departure">
    <th mat-header-cell *matHeaderCellDef>Departure</th>
    <td mat-cell *matCellDef="let row">{{ row.departure | date:'short' }}</td>
  </ng-container>

  <!-- Destination Column -->
  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination</th>
    <td mat-cell *matCellDef="let row">{{ row.destination }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['id','containerId','weight','arrival','departure','destination']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['id','containerId','weight','arrival','departure','destination'];"></tr>
</table>

<div class="drag-drop-section">
  <div cdkDropListGroup class="drag-drop-row">
    <div class="example-container">
      <h2>Zone A</h2>
      <div cdkDropList #blockAList="cdkDropList" [cdkDropListData]="blockA"
           [cdkDropListConnectedTo]="[blockBList,blockAList]" class="example-list"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" cdkDrag *ngFor="let item of blockA; index as i; trackBy: trackByFn">
          <span class="index-label">{{i+1}}</span>
          <span class="container-label">{{item.containerId}}</span>
        </div>

      </div>
    </div>
    <div class="example-container">
      <h2>Zone B</h2>
      <div cdkDropList #blockBList="cdkDropList" [cdkDropListData]="blockB"
           [cdkDropListConnectedTo]="[blockAList,blockBList]" class="example-list"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" cdkDrag *ngFor="let item of blockB; index as i; trackBy: trackByFn">
          <span class="index-label">{{i+1}}</span>
          <span class="container-label">{{item.containerId}}</span>
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Zone C</h2>
      <div cdkDropList #blockCList="cdkDropList" [cdkDropListData]="blockC"
           [cdkDropListConnectedTo]="[blockAList,blockBList]" class="example-list"
           (cdkDropListDropped)="drop($event)">
        <div class="example-box" cdkDrag *ngFor="let item of blockC; index as i; trackBy: trackByFn">
          <span class="index-label">{{i+1}}</span>
          <span class="container-label">{{item.containerId}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
